@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  color: rgb(15 23 42); /* slate-900 */
  background-color: rgb(248 250 252); /* slate-50 */
}
